## .env
.env

## c program
c/*
c/*.o
!c/**/*.c
!c/**/*.h
!c/**/*.a
!c/**/Makefile*

## Java
**/*.class

## Scala
scala/**/project
scala/**/target

## Maven
maven/**/target

## nodejs
**/node_modules
**/package-lock.json
**/.serverless

## python
.idea
secret.json
**/.venv
**/__pycache__/
**/ secret.json
neo/*.mp4
**/*.mp3

**/model.safetensors
**/llama.cpp
**/*.gguf
**/traning_data
**/sft.json
**/finefuned-*

## mongodb
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/**/node_modules
oracle/**/package-lock.json

## docker
docker/mysql/mysql*
docker/mongodb/mongo*

## bookmateproject
bookmateproject/node/**/node_modules
bookmateproject/node/**/package-lock.json

## nestjs
nestjs

.venv

results
